<h1>Articles</h1>
<div class="list-group">
  <% @articles.each do |article| %>
  <%= link_to article_path(article), class: "list-group-item list-group-item-action" do %>
  <div class="d-flex w-100 justify-content-between">
    <h2 class="mb-1"><%= article.title %></h2>
  </div>
  <% end %>
  <% end %>
</div>